@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a{
    font-weight: 300;
}

body{
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    background: #fff;
    z-index: 1;
}

.nav-menu .nav-list{
    display: flex;
    gap: 30px;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
}
.nav-list li{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #05095e;
}

li{
    color: #05095e;
    position: relative;
    text-decoration: none;
}

li::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #007bff ;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;

}

li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.contact{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background: #FFC802;
    border-radius: 3px;
}


.contact a{
    color: aliceblue;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;

}

 .content h1{
    font-size: 60px;
    color: #05095e;
}

.content h2{
    color: #05095e;
    font-weight: 200;
    margin-bottom: 50px;
}


.content .dd::before{
    position: absolute;
    content: "";
    height: 11px;
    background: #FFC800;
    width: 33%;
    display: inline-block;
    top: 45.6%;
    z-index: -1;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;

}


.btn-m{
    background: #00095e;
    width: 350px;
    height: 80px;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
} 

.btn-m:hover{
    box-shadow:0 150px 0 0 #FFC802 inset;
    transition: 1s all;
} 


.bg-car img{
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.car img{
    width: 800px;
    right: 300px;
    position: absolute;
    top: 900px;
    animation: car 15s linear infinite;
}

@keyframes car{
    0% {
        left: 0;
    }
    50% {
        left: calc(40%);
    }
    100% {
        left: 0; 
    }
}

.events-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.events-container{
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 400px;
    margin: 0 40px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 100px;
}

.events-container .price, .day{
    width: 362px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.events-container .price p{
    font-size: 24px;
}

.events-container .price h2{
    color: #007bff;
}

.events-container .day a{
    color: #007bff;
    background: #c4bfbf;
    padding: 5px;
    border-radius: 10px;
}

.about{
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.about-btn-txt{
    width: 470px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-evenly;
}

.about-btn-txt h4{
    font-size: 24px;
    font-weight: 200;
    color: #007bff;
}

.about-btn-txt h1{
    color: #00095e;
    font-size: 50px;
}

.about-btn-txt p{
    color: #e8e0e0;   
}

.customer{
    position: relative;
    margin-top: 50px;
}

.text{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 150px 350px;
    gap: 50px;
    
}

.text h2{
    color: #fff;
    font-size: 50px;
}

.text p, h3{
    color: #fff;
   font-size: 20px;
}

.customer .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    
}

.ceo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

